@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
html {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Lato', sans-serif ,Georgia,serif;
  font-size: 13pt;
  background-color: #d2d2e0;
  padding: 5px;
  margin: 5px;
}

h1 {
  font-size: 15pt;
  color: #148799;
  text-align: center;
  padding: 18px 0 18px 0;
  margin: 0 0 10px 0;
}
p {
  padding: 0;
  margin: 0;
}
.textAlign{
  position: relative;
  background-color: rgba(255, 255, 255, 0.253);
  margin: 0 auto;
  border-radius: 10px;
  width: 80%;
  border: solid rgba(255, 255, 255, 0.253) 5px;
  box-shadow: 2px 2px 2px 2px #afafba;
}

.about-me {
  text-align: left;
  font-size: 14pt;
  white-space: normal;
}
.img-circle {
  border: 3px solid white;
  border-radius: 50%;
}
.section {
  box-shadow: 1px 2px 2px 1px #afafba;
  background-color: #DFDBE5;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.31' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}
#header {
  background-image: url('/Myblogs/img/3560210.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
#header img {
  display: block;
  width: 300px;
  height: 300px;
  margin: auto;
}
#header p {
  font-size: 30pt;
  color: #000000;
  padding-top: 5px;
  margin: 0;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 1em white;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.4);
  -webkit-text-fill-color: black;
}
.quote {
  font-size: 12pt;
  text-align: left;
}
.quote-back {
  background-color: rgba(161, 160, 160, 0.308);
  width: 100%;
  border-radius: 15px;
  padding: 1px;
}
/*Start Table*/
.rwd-table {
  margin: auto;
  min-width: 300px;
}

.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.rwd-table th {
  display: none;
}

.rwd-table td {
  display: block;
}

.rwd-table td:first-child {
  padding-top: .5em;
}

.rwd-table td:last-child {
  padding-bottom: .5em;
}

.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}

@media (min-width: 480px) {
  .rwd-table td:before {
    display: none;
  }
}

.rwd-table th, .rwd-table td {
  text-align: left;
}

@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table th:first-child, .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child, .rwd-table td:last-child {
    padding-right: 0;
  }
}
.rwd-table {
  background: #1b5496e0;
  border-radius: .4em;
  overflow: hidden;
}

.rwd-table tr {
  border-color: #4a6886;
}

.rwd-table th, .rwd-table td {
  margin: 1px;
}

@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    padding: 1em !important;
  }
}

.rwd-table th, .rwd-table td:before {
  color: #dd5;
}

.table_blur th {
  box-shadow: inset 0 1px 0 #999999, inset 0 -1px 0 #999999;
  background: linear-gradient(#9595b6, #5a567f);
  color: white;
  padding: 10px 15px; 
  position: relative;
}
.table_blur th:after {
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255,255,255,.08));
}
.table_blur tr:nth-child(odd) {
  background: #9bbce2de;
}
.table_blur th:first-child {
  box-shadow: inset 1px 1px 0 #999999, inset 0 -1px 0 #999999;
}
.table_blur th:last-child {
  box-shadow: inset -1px 1px 0 #999999, inset 0 -1px 0 #999999;
}
.table_blur td {
  border: 1px solid #e3eef7;
  padding: 10px 15px;
  position: relative;
  transition: all 0.5s ease;
  color: rgba(0, 0, 0, 0.623);
}
.table_blur tbody:hover td {
  color: transparent;
  text-shadow: 0 0 3px #a09f9d;
}
.table_blur tbody:hover tr:hover td {
  color: #000000;
  text-shadow: none;
}

.selected {
  background-color: #f36f48;
  font-weight: bold;
  color: white;
}
/*End Table*/
dt {
  margin-bottom: 15px;
  font-weight: bold;
}
p {
  text-align: center;
  font-weight: initial;
}
/*Индикатор прогресса начало*/
.progress-bar {
  background-color: #76767621;
  height: 28px;
  padding: 5px;
  width: 70%;
  margin: 1px 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 10px;
  -moz-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
  -webkit-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
  box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
}

.progress-bar span {
  display: inline-block;
  height: 20px;
  width: 70%;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 0 rgba(0, 233, 250, 0.5) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -webkit-transition: width 0.4s ease-in-out;
  -moz-transition: width 0.4s ease-in-out;
  -ms-transition: width 0.4s ease-in-out;
  -o-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
.blue span {
  background-color: #34c2e3;
}

.shine span {
  position: relative;
}

.shine span::after {
  content: "";
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.glow span {
  -moz-box-shadow: 0 5px 5px rgba(255, 255, 255, 0.7) inset,
    0 -5px 5px rgba(255, 255, 255, 0.7) inset;
  -webkit-box-shadow: 0 5px 5px rgba(255, 255, 255, 0.7) inset,
    0 -5px 5px rgba(255, 255, 255, 0.7) inset;
  box-shadow: 0 5px 5px rgba(255, 255, 255, 0.7) inset,
    0 -5px 5px rgba(255, 255, 255, 0.7) inset;
}

/*Индикатор прогресса конец*/
.char-counter-text{
  font-size: 16px;
  white-space: nowrap;
  padding: 5px;
  margin-bottom: 5px;
  position: absolute; 
  right: 20px;
  bottom: 95px;
}
.text-counter-progress{
  color: #112c33;
  background-color: #e9eff600;
  border-radius: 15px;
  padding: 5px;
  width: 60%;
  height: 25px;
  box-shadow:inset 0 2px 3px #000000, inset 0px 2px 5px #585858;
}

@-webkit-keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.0;}
}

 .blink{
	text-decoration: blink;
	-webkit-animation-name: blinker;
	-webkit-animation-duration: 0.7s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:ease-in-out;
	-webkit-animation-direction: alternate;
}
.progress-counter {
  --element-width: 0%;
  display: inline-block;
  height: 17px;
  padding: 5px;
  border-radius: 30px;
  width: var(--element-width);
  background: repeating-linear-gradient(45deg, #7c88da, #7c88da 5px, #5661a0 5px, #5661a0 10px);
  transition: 0.1s;
}
.glowColor {
  -moz-box-shadow: 0 5px 5px rgba(255, 255, 255, 0.7) inset,
    0 -5px 5px rgba(255, 255, 255, 0.7) inset;
  -webkit-box-shadow: 0 5px 5px rgba(255, 255, 255, 0.7) inset,
    0 -5px 5px rgba(255, 255, 255, 0.7) inset;
  box-shadow: 0 5px 5px 	#4290cca9 inset,
    0 -5px 5px #073f69d0 inset;
}


#contacts img {
  height: 50px;
  width: 50px;
  margin-left: 7px;
  margin-right: 7px;
}
#contacts a {
  text-decoration: none;
}
#contacts img:hover {
  opacity: 0.8;
}
#contacts {
  text-align: center;
}
.copyright, .copyright a {
  width: 68%;
  text-decoration: none;
  font-size: 8pt;
  text-align: left;
  padding-bottom: 10px;
  color: grey;
}
footer{
  position: relative;
}

  
.button-theme{
  position: absolute;
  display: inline-block;
  right: 1px;
  padding: 8px;
  border-radius: 10px;
  text-decoration: none;
  color: #faf5ffbf;
  font-size: 18px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #3b3b40;
  box-shadow: 0 16px 32px 0 #0a3fc75c;
  transition: 0.5s;
  background-image: linear-gradient(45deg,  #21242b 0%, #484879 50%, #548faf 100%);
  background-position: 100% 0;
  background-size: 200% 200%;
}
.button-theme:hover{
  box-shadow: 0 0 0 0 rgba(0,40,120,0);
  background-position: 0 0;
}

.unselectible {
  -webkit-touch-callout: none; 
  -webkit-user-select: none;   
  -khtml-user-select: none;    
  -moz-user-select: none;      
  -ms-user-select: none;       
  user-select: none;  
}
